html {
  padding: 0px;
}
body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #fafafa;
}
#navbar {
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: #f6f6f6;

  border-bottom: 1px solid #e5e5e5;
}
#navbarTextRight {
  padding-right: 20px;
  padding-left: 20px;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  float: right;
  transition: all 0.5s ease;
  line-height: 30px;
}
#navbarTextRight:hover{
  color: #777;
}
#navbarLeft {
  font-family: 'Josefin Slab', serif;
  border: 1px solid #ddd;
  border-top: none;
  color: black;
  background-color: #eee;
  padding: 7px;
  margin-left: 20px;
  vertical-align: middle;
  text-decoration: none;
  line-height: 35px;
  transition: all 0.5s ease;
}
#navbarLeft:hover {
  padding-top: 15px;
  line-height: 50px;
  background-color: #e7e7e7;
}
ul {
  margin-top: 0px;
}
#main {
  width:720px;
  margin: auto;
  border: 1px solid #eee;
  border-top: 0px;
  background-color: #f8f8f8;
  padding: 40px;
  padding-top: 50px;
}
h1 {
  font-family: 'Josefin Slab', serif;
  display: inline;
  font-weight: 400;
  margin: 0px;
  margin-top: -50px;
  font-size: 100px;
}
h3 {
  font-size: 20px;
  border-bottom: 2px solid #ddd;
  font-family: 'Josefin Slab', serif;
  margin-bottom: -10px;
}
#shortdesc {
  position: relative;
  left: 10px;
  bottom: 2px;
  display: inline;
}
#gameLoader {
  margin-left: -40px;
  border: none;
  width: 820px;
  height:600px;
}
